* {
    box-sizing: border-box;
}

body {
    background-color: #fff;
    font-family: sans-serif;
    margin: 0
}

header {
    background-image: url(./assests/img/bg.jpg);
    background-size: cover;
    background-position: center center;
    color: white;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.container {
    margin: 0 auto;
    max-width: 100%;
    width: 1000px;
}

nav {
    display: flex;
    justify-content: space-between;
    padding: 1rem;
}

nav .logo{
    font-size: 2rem;
}

nav ul {
    display: flex;
    list-style-type: none;
    padding: 0;
}

nav li {

}

nav li a {
    color: white;
    padding: 1rem;
    text-decoration: none;
}

.selected {
    font-weight: bold;
}

.highlight {
    background-color: #00C2FF;
}